@use "../mixins.scss" as *;

.elementer {
  &-content {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
  }
  &-quote {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 3px solid var(--colorBrandForeground1);
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 100%;

    @include dark {
      background-color: rgba($color: white, $alpha: 0.05);
    }

    @include light {
      background-color: rgba($color: black, $alpha: 0.05);
    }
  }

  &-author {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;

    :nth-child(1){
      margin-left: 0.5rem;
    }
  }

  &-image {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    max-width: 270px;
    max-height: 320px;
    border-radius: 4px;
    overflow: hidden;

    > img {
      width: 100%;
      object-fit: cover;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
      }
    }

    &__actions {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &-video {
    max-width: 100%;
  }

  &-at {
    color: var(--colorBrandForeground2);
  }
}