@use "../../components/mixins.scss" as *;

.networks {
  display: flex;
  justify-items: start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;

  &-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;

      @include dark {
        background-color: rgba($color: white, $alpha: 0.06);
      }

      @include light {
        background-color: rgba($color: black, $alpha: 0.06);
      }
    }
  }

  &-container {
    width: calc(100% / 4.207666667);
  }

  &-header {
    padding: 12px;
    margin: -12px -12px -10px -12px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 6px;
    border-bottom: 1px solid var(--colorNeutralStencil2Alpha);

    &__title {
      height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1 1 100%;
    }
  }

  &-content {
    padding: 12px 12px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
  }

  &-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1 100%;
  }

  // fix center
  & *[data-center] {
    display: flex;
    align-items: center;
  }
}