@use "../mixins.scss" as *;

.main-view {
  flex: 1;
  border-top-left-radius: var(--borderRadiusLarge);
  transition: background-color 250ms cubic-bezier(1, 0, 1, 1);
  overflow: hidden;

  @include dark {
    color: white;
    border: 1px solid rgba($color: white, $alpha: 0.05);
    background-color: rgba($color: white, $alpha: 0.032);
  }

  @include light {
    color: black;
    border: 1px solid rgba($color: black, $alpha: 0.08);
    background-color: var(--colorNeutralBackgroundAlpha2);
  }

  &__context {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 12px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
}