@use "../mixins.scss" as *;

.main-view {
  flex: 1;
  border-top-left-radius: var(--borderRadiusLarge);
  transition: background-color 250ms cubic-bezier(1, 0, 1, 1);
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  @include dark {
    color: white;
    border: 1px solid rgba($color: white, $alpha: 0.05);
    background-color: rgba($color: white, $alpha: 0.032);
  }

  @include light {
    color: black;
    border: 1px solid rgba($color: black, $alpha: 0.08);
    background-color: var(--colorNeutralBackgroundAlpha2);
  }

  &__context {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 12px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    flex: 1 1 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 62px;
    padding: 0px 14px 0px 14px;
    border-bottom: var(--colorNeutralStencil1Alpha) 1px solid;

    &-prepend {
      max-height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    &-append {
      flex: 1 1 auto;
      overflow: hidden;
      max-height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    &-content {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }
}