@use "../mixins.scss" as *;

.main-view {
  flex: 1;
  border-radius: 6px;
  transition: background-color 250ms cubic-bezier(1, 0, 1, 1);

  @include dark {
    color: white;
    border: 1px solid rgba($color: white, $alpha: 0.08);
    background-color: rgba($color: black, $alpha: 0.3);
  }

  @include light {
    color: black;
    border: 1px solid rgba($color: black, $alpha: 0.08);
    background-color: white;
  }

  &__context {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 12px;
    box-sizing: border-box;
  }
}