@use "../mixins.scss" as *;

.sidebar {
  padding: 0 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 4px;

  .sidebar-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 64px;
    border-radius: 4px;

    &:hover {
      @include dark {
        background-color: rgba($color: white, $alpha: 0.05);
      }

      @include light {
        background-color: rgba($color: black, $alpha: 0.05);
      }
      
    }

    &-active {
      @include dark {
        background-color: #454545 !important;
      }

      @include light {
        background-color: white !important;
      }
    }

    &__label {
      font-size: 12px;

      @include dark {
        color: white;
      }

      @include light {
        color: #242424;
      }
    }

    &__indicator {
      position: absolute;
      top: 50%;
      left: 0;
      height: 24px;
      width: 4px;
      border-radius: 4px;
      transform: translateY(-50%);
      background: var(--main);
    }

    svg {
      font-size: 24px;

      @include dark {
        color: white;
      }

      @include light {
        color: #242424;
      }
    }
  }
}