@use "../../components/mixins.scss" as *;
@use "./icon.css" as *;

.message {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  align-items: flex-end;

  &-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    padding-top: 2px;
    gap: var(--spacingHorizontalM);

    @include dark {
      color: white;
      background-color: rgba($color: white, $alpha: 0.032);
      border-bottom: 1px solid rgba($color: white, $alpha: 0.16);
    }

    @include light {
      color: black;
      background-color: var(--colorNeutralBackgroundAlpha2);
      border-bottom: 1px solid var(--colorNeutralBackground4);
    }

    &__title {
      display: inline;
      font-size: var(--fontSizeBase400);
      font-weight: 550;
      margin: 0;
    }
  }

  &-context {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    overflow: auto;
    overflow-anchor: none;

    @include dark {
      color: white;
      background-color: transparent;
    }

    @include light {
      color: black;
      background-color: var(--colorNeutralBackgroundAlpha);
    }
  }

  &-sender {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 12px;
    margin: 0 -12px;

    @include dark {
      color: white;
      background-color: rgba($color: white, $alpha: 0.032);
      border-bottom: 1px solid rgba($color: white, $alpha: 0.16);
    }

    @include light {
      color: black;
      background-color: var(--colorNeutralBackgroundAlpha2);
      border-bottom: 1px solid var(--colorNeutralBackground4);
    }

    .fui-Input {
      width: 100%;
      flex: 1 1 100%;
      margin-bottom: 4px;
    }

    &__actions {
      width: 100%;
      flex: 1 1 100%;
      display: flex;
      margin-bottom: 6px;
    }

    &-input {
      display: inline-flex;
      box-sizing: border-box;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: var(--spacingVerticalSNudge) calc(var(--spacingHorizontalMNudge) + var(--spacingHorizontalXXS));
      border-width: var(--strokeWidthThin);
      border-color: var(--colorNeutralStroke1);
      border-bottom-color: var(--colorNeutralStrokeAccessible);
      border-bottom-width: var(--strokeWidthThick);
      border-style: solid;
      border-radius: var(--borderRadiusMedium);


      &:focus-within {
        border-bottom-width: var(--strokeWidthThick);
        border-bottom-color: var(--colorCompoundBrandStroke);
      }

      &__content {
        display: inline-flex;
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 6rem;
        position: relative;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 6px;
        }

        .shikitor {
          width: 100%;
          height: 100%;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: var(--fontSizeBase300);
          background-color: transparent !important;

          &-input::selection {
            color: transparent;
            border-radius: 2px;

            @include dark {
              background-color: rgba($color: white, $alpha: 0.2);
            }

            @include light {
              background-color: rgba($color: black, $alpha: 0.2);
            }
          }

          &-container, &-output, &-placeholder, &-input {
            background-color: transparent;
            .shiki, .shiki * {
              background-color: transparent !important;
            }
          }

          textarea {
            overflow: hidden;
          }

          &-lines {
            display: none;
          }

          // This not fix the text space issue, can't selection next line in newline text of long it that is wrapped
          // &-output-token {
          //   white-space: normal;
          // }
        }
      }

      &__contentAfter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 6px;
      }
    }
  }

  &-timestamp {
    font-size: var(--fontSizeBase200);
    opacity: 0.8;
    margin-left: 12px;
    text-align: center;
  }

  &-avatar {
    position: sticky;
    bottom: 1rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 76%;

    &__username {
      margin: 0 12px;
    }

    .fui-Card {
      margin: 0 12px;
      flex: 0 0 auto;
      box-shadow: none;
      // background-color: var(--colorBrandForeground1);

      @include dark {
        color: white;
      }

      @include light {
        color: black;
      }
    }

    .fui-Avatar {
      margin-bottom: 1rem;
    }
  }

}