@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

html {
  margin: 0;
  padding: 0;
  background: none;
  background-color: none;
  background-color: transparent;
  background: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  /* margin-top: -18px; */
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: none;
  background-color: rgba($color: #000000, $alpha: 0.06);
  @include light {
    color: black;
  }
  @include dark {
    color: white;
  }
}

main {
  @include light {
    background-color: white;
  }
  @include dark {
    background-color: #121212;
  }
  flex: 1;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
