@use "./components/mixins.scss" as *;

html {
  margin: 0;
  padding: 0;
  background: none;
  background-color: none;
  background-color: transparent;
  background: transparent;
  @include dark {
    color-scheme: dark;
  }
  @include light {
    color-scheme: light;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  /* margin-top: -18px; */
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: none;
  background-color: rgba($color: #242424, $alpha: 0.06);
  @include light {
    color: #242424;
  }
  @include dark {
    color: white;
  }
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

#root > header {
  flex: 1 100%;
}

#root main {
  display: flex;
  flex: 1;
  gap: var(--spacingHorizontalXS);
  width: 100%;
  // margin-right: 10px;
  // margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  height: calc(100% - 44px);
  width: 64px;
  margin-left: 12px;
  margin-right: 8px;
  @include light {
    color: #242424;
  }
  @include dark {
    color: white;
  }
}

.scrollable {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;

    @include dark {
      background-color: rgba($color: white, $alpha: 0.33);
    }

    @include light {
      background-color: rgba($color: black, $alpha: 0.23);
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    @include dark {
      background-color: rgba($color: white, $alpha: 0.5);
    }

    @include light {
      background-color: rgba($color: black, $alpha: 0.45);
    }
  }
}